<div class="card-body">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Nom complet</th>
                <th>email</th>
                <th>Téléphone</th>
                <th>Agence</th> 
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.fullName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.tel }}</td>
                    <td> {% if user.agency.name is defined %} {{ user.agency.name }} {% endif %}</td>
                    <td width="30%">
                        {% for role in user.roles %}
                            <button type="button" class="btn btn-info btn-xs">{{ role|trans }}</button>
                        {% endfor %}
                    </td>
                    <td class="project-actions text-inline">
                        <a class="btn btn-primary btn-sm" href="{{ path('app_user_show', {'id': user.id}) }}">
                            <i class="fas fa-eye">
                            </i>
                        </a>
                        <a class="btn btn-info btn-sm" href="{{ path('app_user_edit', {'id': user.id}) }}">
                            <i class="fas fa-pencil-alt">
                            </i>
                        </a>
                        <div class="btn btn-sm">    
                            {{ include('admin/user/_delete_form.html.twig') }}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
