{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}

{% block body %}
    {{ form_start(form, {'action': path('app_user_new'), 'method': 'POST'}) }}
    {{ include('admin/user/_form.html.twig') }}
    {{ form_end(form) }}

    <div class="card-body">
        <div class="row">
            {#            <div class="col-md-3">
                        </div> 
                        <div class="col-md-3">
                        </div> #}
            <div class="col-md-6">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" id="search" name="search" type="text" placeholder="Recherche" aria-label="Search">
                </div>
            </div>
            <div class="col-md-4">
                <select class="form-control" id="role" name="role" placeholder="Role">
                    <option value="">Roles</option>
                    {% for key,value in list_roles %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-info" onclick="searchAjax();">Recherche</button>
            </div>
        </div>
    </div>

    <div id="list_user"></div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- DataTables -->
    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.j') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
    <!-- Page specific script -->
    <script>
                    $(document).ready(function () {
                        searchAjax(page = 1);
                    });
                    function searchAjax(page = 1) {
                        var search = $("#search").val();
                        var role = $("#role").val();
                        $.fn.dataTable.ext.errMode = 'throw';
                        $.ajax({
                            type: 'GET',
                            url: "{{ path('app_user_search') }}",
                            data: {
                                page: page,
                                role: role,
                                search: search
                            },
                            dataType: 'html',
                            beforeSend: function () {
                                $("#loading").show();
                                $("#list_user").html("");
                            },
                            success: function (data) {
                                //Handle your JSON data to update the DOM
                                $("#loading").hide();
                                $("#list_user").append(data);
                                JsBarcode(".barcode").init();
                                $("#example2").DataTable({
                                    "paging": false,
                                    "lengthChange": true,
                                    "searching": false,
                                    "ordering": true,
                                    "info": false,
                                    "autoWidth": false,
                                    "responsive": true,
                                    "columnDefs": [
                                        //hide the second & fourth column
                                        {"visible": false, "targets": [0]}
                                    ],
                                    "order": [[0, 'desc']]
                                });
                                // Handle click on "Select all" control
                                $('#example-select-all').on('click', function () {
                                    var table = $('#example2').DataTable();
                                    // Check/uncheck all checkboxes in the table
                                    var rows = table.rows({'search': 'applied'}).nodes();
                                    $('input[type="checkbox"]', rows).prop('checked', this.checked);
                                });
                            },
                            error: function (xhr) { // if error occured
                                $("#loading").hide();
                            }
                        });
                    }

                    var shipperFormHtml = $("#shipper_form").html();
                    var deliveryFormHtml = $("#delivery_form").html();
                    var employeeFormHtml = $("#employee_form").html();
                    var rolesSelected = $("#user_roles").val();

                    $("#shipper_form").html("");
                    $("#delivery_form").html("");
                    $("#employee_form").html("");

                    $("#user_roles").change(function () {

                        $("#shipper_form").html("");
                        $("#delivery_form").html("");
                        $("#employee_form").html("");
                        //var selectedValues = $(this).val();
                        //console.log(selectedValues);
                        //alert(selectedValues);
                        //$("#user_roles").val();
                        //$("#user_roles").val([this.value]);

                        var rolesSelected = $(this).val();

                        if (rolesSelected.includes("ROLE_SHIPPER")) {
                            $("#shipper_form").append(shipperFormHtml);
                        }
                        if (rolesSelected.includes("ROLE_DELIVERY")) {
                            $("#delivery_form").append(deliveryFormHtml);
                        }
                        if (rolesSelected.includes("ROLE_EMPLOYEE")) {
                            $("#employee_form").append(employeeFormHtml);
                        }
                    });

                    //$("#pricePerPackage").hide();
                    $(document).on("change", "#user_delivery_type", function (e) {
                        e.preventDefault();
                        if ($(this).val() == "Salarier") {
                            $("#pricePerPackage").hide();
                            $("#salary").show();
                            $("#user_delivery_pricePerPackage").val("");
                        }
                        if ($(this).val() == "Prestataire") {
                            $("#pricePerPackage").show();
                            $("#salary").hide();
                            $("#user_delivery_salary").val("");
                        }
                    });
    </script>
{% endblock %}