{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ user.fullName }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {% for role in user.roles %}
                        <button type="button" class="btn btn-info btn-xs">{{ role }}</button>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ user.tel }}</td>
            </tr>

            {% if user.delivery is not empty  %}
                <tr>  <th class="text-success">Livreur</th>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th>Type</th>
                    <td>{{ user.delivery.type }}</td>
                </tr>
                <tr>
                    <th>Matricule Voiture</th>
                    <td>{{ user.delivery.carRegistrationNumber }}</td>
                </tr>
                <tr>
                    <th>CIN</th>
                    <td>{{ user.delivery.cin }}</td>
                </tr>
                <tr>
                    <th>Salaire</th>
                    <td>{{ user.delivery.salary }} (TND)</td>
                </tr>
                <tr>
                    <th>Prix par colis</th>
                    <td>{{ user.delivery.pricePerPackage }} (TND)</td>
                </tr>
            {% endif %}
            {% if user.employee is not empty  %}
                <tr>  <th class="text-success">Employé</th>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th>RIB</th>
                    <td>{{ user.employee.rib }}</td>
                </tr>
                <tr>
                    <th>Banque</th>
                    <td>{{ user.employee.bank }}</td>
                </tr>
                <tr>
                    <th>CIN</th>
                    <td>{{ user.employee.cin }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ user.employee.adresse }}</td>
                </tr>
                <tr>
                    <th>Salaire</th>
                    <td>{{ user.employee.salary }} (TND)</td>
                </tr>
                <tr>
                    <th>Date d'entrée</th>
                    <td>{{ user.employee.entryDate }}</td>
                </tr>
            {% endif %}
            {% if user.shipper is not empty %}
                <tr>  <th class="text-success">Expéditeur</th>
                    <td>
                    </td>
                </tr>
                <tr>
                    <th>Nom de la page</th>
                    <td>{{ user.shipper.namePage }}</td>
                </tr>
                <tr>
                    <th>Prix de livraison</th>
                    <td>{{ user.shipper.deliveryPrice }}</td>
                </tr>
                <tr>
                    <th>Prix du retour</th>
                    <td>{{ user.shipper.returnPrice }}</td>
                </tr>
                <tr>
                    <th>Avec extra</th>
                    <td>{{ user.shipper.withExtra }}</td>
                </tr>
                <tr>
                    <th>RIB</th>
                    <td>{{ user.shipper.rib }}</td>
                </tr>
                <tr>
                    <th>Banque</th>
                    <td>{{ user.shipper.bank }}</td>
                </tr>
                <tr>
                    <th>Code TVA</th>
                    <td>{{ user.shipper.vatCode }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ user.shipper.adresse }}</td>
                </tr>
                <tr>
                    <th>Mode de paiement</th>
                    <td>{{ user.shipper.paymentMethod }}</td>
                </tr>

                <tr>
                    <th>Numéro de carte</th>
                    <td>{{ user.shipper.cardNumber }}</td>
                </tr>
                <tr>
                    <th>Type fournisseur</th>
                    <td>{{ user.shipper.typeSupplier }}</td>
                </tr>
                <tr>
                    <th>Masquer CIN</th>
                    <td>{{ user.shipper.hiddenCin }}</td>
                </tr>
                <tr>
                    <th>Avec Facturation</th>
                    <td>{{ user.shipper.withBilling }}</td>
                </tr>

            {% endif %}

        </tbody>
    </table>

{% endblock %}
