<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gestion RH</title>

        <!-- add icon link -->
        <link rel="icon" href="{{ asset('assets/images/logo_login.png') }}"type="image/x-icon" />

        {% block stylesheets %}
            <!-- Google Font: Source Sans Pro -->
            <link rel="stylesheet" href="{{ asset('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback') }}">
            <!-- Font Awesome Icons -->
            <link rel="stylesheet" href="">
            <!-- Google Font: Source Sans Pro -->
            <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome-free/css/all.min.css') }}">
            <!-- IonIcons -->
            <link rel="stylesheet" href="{{ asset('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css') }}">
            <!-- Theme style -->
            <link rel="stylesheet" href="{{ asset('assets/dist/css/adminlte.min.css') }}">
        {% endblock %}
    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <!-- /.login-logo -->
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <img src="{{ asset('assets/images/logo_login.png') }}" width="100%" height="100%"/>
                </div>
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <p class="login-box-msg">Sign in to start your session</p>

                    <form action="{{ path('app_login') }}" method="post">
                        <div class="input-group mb-3">
                            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-primary">
                                    <input type="checkbox" name="_remember_me" id="_remember_me">
                                    <label for="_remember_me">Remember me</label>
                                </div>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
{#
                    <div class="social-auth-links text-center mt-2 mb-3">
                        <a href="#" class="btn btn-block btn-primary">
                            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                        </a>
                        <a href="#" class="btn btn-block btn-danger">
                            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                        </a>
                    </div>
                    <!-- /.social-auth-links -->

                    <p class="mb-1">
                        <a href="forgot-password.html">I forgot my password</a>
                    </p>
                    <p class="mb-0">
                        <a href="register.html" class="text-center">Register a new membership</a>
                    </p>
 #}
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.login-box -->

        <!-- REQUIRED SCRIPTS -->
        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
            <!-- Bootstrap -->
            <script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
            <!-- AdminLTE -->
            <script src="{{ asset('assets/dist/js/adminlte.js') }}"></script>
            <!-- OPTIONAL SCRIPTS -->
            <script src="{{ asset('assets/plugins/chart.js/Chart.min.js') }}"></script>
            <!-- AdminLTE for demo purposes -->
            <script src="{{ asset('assets/dist/js/demo.js') }}"></script>
            <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
            <script src="{{ asset('assets/dist/js/pages/dashboard3.js') }}"></script>
        {% endblock %}
    </body>
</html>
