
<span class="border-bottom pb-1">{{ form_label(form.employee) }}</span>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.employee.entryDate) }}
            {{ form_widget(form.employee.entryDate) }}
            <div class="text-danger">
                {{ form_errors(form.employee.entryDate) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.employee.cin) }}
            {{ form_widget(form.employee.cin) }}
            <div class="text-danger">
                {{ form_errors(form.employee.cin) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.employee.adresse) }}
            {{ form_widget(form.employee.adresse) }}
            <div class="text-danger">
                {{ form_errors(form.employee.adresse) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.employee.rib) }}
            {{ form_widget(form.employee.rib) }}
            <div class="text-danger">
                {{ form_errors(form.employee.rib) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.employee.bank) }}
            {{ form_widget(form.employee.bank) }}
            <div class="text-danger">
                {{ form_errors(form.employee.bank) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.employee.salary) }}
            {{ form_widget(form.employee.salary) }}
            <div class="text-danger">
                {{ form_errors(form.employee.salary) }}
            </div>
        </div>
    </div>
</div>
