
<span class="border-bottom pb-1">{{ form_label(form.shipper) }}</span>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.shipper.namePage) }}
            {{ form_widget(form.shipper.namePage) }}
            <div class="text-danger">
                {{ form_errors(form.shipper.namePage) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.shipper.deliveryPrice) }}
            {{ form_widget(form.shipper.deliveryPrice) }}
            <div class="text-danger">
                {{ form_errors(form.shipper.deliveryPrice) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.shipper.returnPrice) }}
            {{ form_widget(form.shipper.returnPrice) }}
            <div class="text-danger">
                {{ form_errors(form.shipper.returnPrice) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.shipper.withExtra) }}
            {{ form_widget(form.shipper.withExtra) }}
            <div class="text-danger">
                {{ form_errors(form.shipper.withExtra) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.shipper.rib) }}
            {{ form_widget(form.shipper.rib) }}
            <div class="text-danger">
                {{ form_errors(form.shipper.rib) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.shipper.bank) }}
            {{ form_widget(form.shipper.bank) }}
            <div class="text-danger">
                {{ form_errors(form.shipper.bank) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.shipper.vatCode) }}
            {{ form_widget(form.shipper.vatCode) }}
            <div class="text-danger">
                {{ form_errors(form.shipper.vatCode) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.shipper.paymentMethod) }}
            {{ form_widget(form.shipper.paymentMethod) }}
            <div class="text-danger">
                {{ form_errors(form.shipper.paymentMethod) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.shipper.cardNumber) }}
            {{ form_widget(form.shipper.cardNumber) }}
            <div class="text-danger">
                {{ form_errors(form.shipper.cardNumber) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.shipper.typeSupplier) }}
            {{ form_widget(form.shipper.typeSupplier) }}
            <div class="text-danger">
                {{ form_errors(form.shipper.typeSupplier) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.shipper.adresse) }}
            {{ form_widget(form.shipper.adresse) }}
            <div class="text-danger">
                {{ form_errors(form.shipper.adresse) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.shipper.hiddenCin) }}
            {{ form_widget(form.shipper.hiddenCin) }}
            <div class="text-danger">
                {{ form_errors(form.shipper.hiddenCin) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.shipper.withBilling) }}
            {{ form_widget(form.shipper.withBilling) }}
            <div class="text-danger">
                {{ form_errors(form.shipper.withBilling) }}
            </div>
        </div>
    </div>
</div>