{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}

{% block body %}
    <form action="{{ path('app_agency_pick_up_search') }}" method="post">
        <div class="row container justify-content-center">
            <div class="col-md-6">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" id="search" name="search" type="text" placeholder="Recherche par code à barre" aria-label="Search">
                </div><div class="sidebar-search-results"><div class="list-group"><a href="#" class="list-group-item"><div class="search-title"><strong class="text-light"></strong>N<strong class="text-light"></strong>o<strong class="text-light"></strong> <strong class="text-light"></strong>e<strong class="text-light"></strong>l<strong class="text-light"></strong>e<strong class="text-light"></strong>m<strong class="text-light"></strong>e<strong class="text-light"></strong>n<strong class="text-light"></strong>t<strong class="text-light"></strong> <strong class="text-light"></strong>f<strong class="text-light"></strong>o<strong class="text-light"></strong>u<strong class="text-light"></strong>n<strong class="text-light"></strong>d<strong class="text-light"></strong>!<strong class="text-light"></strong></div><div class="search-path"></div></a></div></div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-info">Recherche</button>
            </div>
        </div>
    </form>
    {% if pick_up is not empty  %}
        <div class="text-center text-danger font-weight-bold fs-1">
            <h1> <strong> {{ pick_up.barCode }} </strong> </h1>
        </div>
        {{ form_start(form) }}
        <input type="hidden" name="bar_code" value="{{ pick_up.barCode }}">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(city_form.region) }}
                    {{ form_widget(city_form.region) }}
                    <div class="text-danger">
                        {{ form_errors(city_form.region) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(city_form.name) }}
                    {{ form_widget(city_form.name) }}
                    <div class="text-danger">
                        {{ form_errors(city_form.name) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(form.locality) }}
                    {{ form_widget(form.locality) }}
                    <div class="text-danger">
                        {{ form_errors(form.locality) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(form.adresse) }}
                    {{ form_widget(form.adresse) }}
                    <div class="text-danger">
                        {{ form_errors(form.adresse) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(form.tel) }}
                    {{ form_widget(form.tel) }}
                    <div class="text-danger">
                        {{ form_errors(form.tel) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(form.tel2) }}
                    {{ form_widget(form.tel2) }}
                    <div class="text-danger">
                        {{ form_errors(form.tel2) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-info">{{ button_label|default('Modifier') }}</button>
        </div>
        {{ form_end(form) }}
        <input type="hidden" name="region_id" id="region_id" value="{{ region_id }}">
        <input type="hidden" name="city_id" id="city_id" value="{{ city_id }}">

        <div class="text-center">
            <h2> Historique colis </h2>
        </div>
        <table id="table_history_pick_up" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Désignation</th>
                    <th>Agence expédition</th>
                    <th>Agence destination</th>
                    <th>Infos client</th>
                    <th>Prix</th>
                    <th>Status colis</th>
                    <th>Date création</th>
                    <th>Date modification</th>
                    <th>Modifier par</th>
                </tr>
            </thead>
            <tbody>
                {% for pick_up_audit in pick_up.pickUpAudits %}
                    <tr>
                        <td>{{ pick_up_audit.id }}</td>
                        <td>{{ pick_up_audit.designation }}</td>
                        <td>{{ pick_up_audit.agencyPickUp.name }}</td>
                        <td>{{ pick_up_audit.agencyDestination.name }}</td>
                        <td>
                            <strong>{{ pick_up_audit.fullName }}</strong> <br> 
                            {{ pick_up_audit.tel }}***{{ pick_up_audit.tel2 }} <br>
                            {{ pick_up_audit.adresse }} {{ pick_up_audit.locality.name }} : {{ pick_up_audit.locality.city.name }}: {{ pick_up_audit.locality.city.region.name }}
                        </td>
                        <td>{{ pick_up_audit.price }}</td>
                        <td>
                            {% if 'RETURN' in pick_up_audit.status %}
                                <button type="button" class="btn btn-danger btn-xs">{{ pick_up_audit.status|trans }}</button>
                            {% else %}
                                <button type="button" class="btn btn-info btn-xs">{{ pick_up_audit.status|trans }}</button>
                            {% endif %}
                        </td>
                        <td>
                            {% if pick_up_audit.createdAt is not null %}
                                {{ pick_up_audit.createdAt|date("d/m/Y h:i") }} </td>
                            {% endif %}
                        <td>
                            {% if pick_up_audit.updatedAt is not null %}
                                {{ pick_up_audit.updatedAt|date("d/m/Y h:i") }}
                            {% endif %}
                        </td>
                        <td>
                            {% if pick_up_audit.updatedBy is not null %}
                                {{ pick_up_audit.updatedBy.fullName }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- DataTables -->
    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.j') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>

    <!-- Page specific script -->
    <script>
        $(document).ready(function () {
            $.fn.dataTable.ext.errMode = 'throw';
            $("#table_history_pick_up").DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "responsive": true,
                "columnDefs": [
                    //hide the second & fourth column
                    {"visible": false, "targets": [0]}
                ],
                "order": [[0, 'desc']]
            });
        });
    </script>
    <script>

        var region_id = $('#region_id').val();
        var city_id = $('#city_id').val();
        $(`#city_region option[value='${region_id}']`).prop('selected', true);
        $(`#city_name option[value='${city_id}']`).prop('selected', true);

        $("#city_region").change(function () {
            var id = $("#city_region").val();
            $.ajax({
                type: 'GET',
                url: "{{ path('app_city_list') }}",
                data: {id: id},
                dataType: 'html',
                success: function (data) {
                    //Handle your JSON data to update the DOM
                    $("#city_name").empty();
                    $("#pick_up_locality").empty();
                    $("#city_name").append(data);
                }
            });
        });

        $("#city_name").change(function () {
            var id = $("#city_name").val();
            $.ajax({
                type: 'GET',
                url: "{{ path('app_locality_list') }}",
                data: {id: id},
                dataType: 'html',
                success: function (data) {
                    //Handle your JSON data to update the DOM
                    $("#pick_up_locality").empty();
                    $("#pick_up_locality").append(data);
                }
            });
        });

    </script>
{% endblock %}

