{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
    <link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="text-center">
        <a class="btn btn-success btn-sm" href="#" onclick='validerManifeste();'>
            <i class="fas fa fa-check-circle"> 
                Valider manifeste
            </i>
        </a>
    </div>
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th><input name="select_all" value="1" id="example-select-all" type="checkbox" checked /></th>
                <th>Date de création</th>
                <th>Code à barre</th>
                <th>Désignation</th>
                <th>Infos client</th>
                <th>Prix</th>
                <th>Status colis</th>
            </tr>
        </thead>
        <tbody>
            {% for pick_up in items %}
                <tr>
                    <td>{{ pick_up.id }}</td>
                    <td><input type="checkbox" name="id[]" value="{{ pick_up.id }}" id="pick_up_{{ pick_up.id }}" checked></td>
                    <td>
                        {% if pick_up.createdAt is not null %}
                            {{ pick_up.createdAt|date("d/m/Y h:i:s") }}
                        {% endif %}
                    </td>
                    <td>{{ pick_up.barCode }}</td>
                    <td>{{ pick_up.designation }}</td>
                    <td>
                        <strong>{{ pick_up.fullName }}</strong> <br> 
                        {{ pick_up.tel }}***{{ pick_up.tel2 }} <br>
                        {{ pick_up.adresse }} {{ pick_up.locality.name }} : {{ pick_up.locality.city.name }}: {{ pick_up.locality.city.region.name }}
                    </td>
                    <td>{{ pick_up.price }}</td>
                    <td>
                        {% if 'RETURN' in pick_up.status %}
                            <button type="button" class="btn btn-danger btn-xs">{{ pick_up.status|trans }}</button>
                        {% else %}
                            <button type="button" class="btn btn-info btn-xs">{{ pick_up.status|trans }}</button>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- DataTables -->
    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.j') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
    <script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.11.3/JsBarcode.all.min.js"></script>

    <!-- Page specific script -->
    <script>
            $(document).ready(function () {
                $("#example2").DataTable({
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                    "responsive": true,
                    "columnDefs": [
                        //hide the second & fourth column
                        {"visible": false, "targets": [0]}
                    ],
                    "order": [[0, 'desc']]
                });

                // Handle click on "Select all" control
                $('#example-select-all').on('click', function () {
                    var table = $('#example2').DataTable();
                    // Check/uncheck all checkboxes in the table
                    var rows = table.rows({'search': 'applied'}).nodes();
                    $('input[type="checkbox"]', rows).prop('checked', this.checked);
                });
            });

            function validerManifeste() {
                if (confirm("Voulez vous créer cette manifeste ???")) {
                    var pickUpIds = new Array();
                    $("input[name='id[]']:checked:enabled").each(function () {
                        pickUpIds.push($(this).val());
                    });

                    $.ajax({
                        type: 'GET',
                        url: "{{ path('app_manifest_validate') }}",
                        data: {
                            pickUpIds: pickUpIds
                        },
                        dataType: 'html',
                        beforeSend: function () {
                            $("#loading").show();
                            $("#list_pick_up").html("");
                        },
                        success: function (data) {
                            //Handle your JSON data to update the DOM
                            $("#loading").hide();
                            $("#list_pick_up").append(data);
                            JsBarcode(".barcode").init();
                            location.reload();
                        },
                        error: function (xhr) { // if error occured
                            $("#loading").hide();
                            location.reload();
                        }
                    });
                }
            }
    </script>
{% endblock %}
