<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-shopping-bag"></i>
                <p>
                    GESTION DES COLIS
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{{ path('app_agency_pick_up_search') }}" class="nav-link">
                        <i class="fas fa-pencil-alt nav-icon"></i>
                        <p>Modifier colis</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_agency_pick_up_accept') }}" class="nav-link">
                        <i class="fas fa-home nav-icon"></i>
                        <p>Accépter au magasin</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-truck"></i>
                <p>
                    RUNSHEET
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{{ path('app_agency_runsheet_create') }}" class="nav-link">
                        <i class="nav-icon fas fa-plus-square fa-lg mr-2"></i>
                        <p>Ajouter Runsheet</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_agency_runsheet_index') }}" class="nav-link">
                        <i class="nav-icon fas fa fa-print fa-lg mr-2"></i>
                        <p>Gestion Runsheet</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_runsheet_not_validate') }}" class="nav-link">
                        <i class="nav-icon fas fa fa-check-circle fa-lg mr-2"></i>
                        <p>Valider Runsheet</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<!-- /.sidebar-menu -->