{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}

{% block body %}

    <a class="btn btn-primary" href="{{ path('app_user_new') }}">Ajouter utilisateur</a>
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nom complet</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Tel</th>
                <th>Adresse</th>
                <th>Status</th>
                <th>Créé le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.fullName }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.roles %}
                            <button type="button" class="btn btn-info btn-xs">{{ role|trans }}</button>
                        {% endfor %}
                    </td>
                    <td>{{ user.tel }}</td>
                    <td>{{ user.adresse }}</td>
                    <td>{{ user.status }}</td>
                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td class="project-actions text-inline">
                        <a class="btn btn-primary btn-sm" href="{{ path('app_user_show', {'id': user.id}) }}">
                            <i class="fas fa-eye">
                            </i>
                        </a>
                        <a class="btn btn-info btn-sm" href="{{ path('app_user_edit', {'id': user.id}) }}">
                            <i class="fas fa-pencil-alt">
                            </i>
                        </a>
                        <div class="btn btn-sm">    
                            {{ include('rh/user/_delete_form.html.twig') }}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="15">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- DataTables -->
    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.j') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "responsive": true,
            });
        });
    </script>
{% endblock %}
