<div class="card-body">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Téléphone</th>
                <th>Responsable</th> 
                <th>Région</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for agency in agencies %}
                <tr>
                    <td>{{ agency.name }}</td>
                    <td>{{ agency.code }}</td>
                    <td>{{ agency.tel }}</td>
                    <td>
                        {% if agency.responsible is defined and agency.responsible is not null %}

                            {{ agency.responsible.fullName }}</td>

                    {% endif %}
                    <td width="30%">
                        {% for regionValue in agency.region %}
                            <button type="button" class="btn btn-info btn-xs">{{ regionValue.name }}</button>
                        {% endfor %}
                    </td>
                    <td class="project-actions text-inline">
                        {#
                        <a class="btn btn-primary btn-sm" href="{{ path('app_agency_edit', {'id': agency.id}) }}">
                            <i class="fas fa-folder">
                            </i>
                            View
                        </a>
                         #}
                        <div class="btn btn-sm">    

                            {{ include('admin/agency/_delete_form.html.twig') }}

                        </div>
                        <a class="btn btn-info btn-sm" href="{{ path('app_agency_edit', {'id': agency.id}) }}">
                            <i class="fas fa-pencil-alt">
                            </i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
