{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}

{% block body %}
    <div class="card-body">
        <div id="list_runsheet">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- DataTables -->
    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.j') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
    <script type="text/javascript" src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/js/dataTables.checkboxes.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.11.3/JsBarcode.all.min.js"></script>

    <!-- Page specific script -->
    <script>
        $(document).ready(function () {
            searchAjax(1);
            $("#example2").DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "columnDefs": [
                    //hide the second & fourth column
                    {"visible": false, "targets": [0]}
                ],
                "order": [[0, 'desc']]
            });
        });

        function searchAjax(page) {
            $.ajax({
                type: 'GET',
                url: "{{ path('app_runsheet_search') }}",
                data: {
                    page: page
                },
                dataType: 'html',
                beforeSend: function () {
                    $("#loading").show();
                    $("#list_runsheet").html("");
                },
                success: function (data) {
                    //Handle your JSON data to update the DOM
                    $("#loading").hide();
                    $("#list_runsheet").append(data);
                    $("#example2").DataTable({
                        "paging": false,
                        "lengthChange": true,
                        "searching": false,
                        "ordering": true,
                        "info": false,
                        "autoWidth": false,
                        "responsive": true,
                        "columnDefs": [
                            //hide the second & fourth column
                            {"visible": false, "targets": [0]}
                        ],
                        "order": [[0, 'desc']]
                    });
                },
                error: function (xhr) { // if error occured
                    $("#loading").hide();
                }
            });

        }
        function printRunsheet(id) {
            if (confirm("Êtes-vous sûr d'imprimer cet runsheet ???")) {
                var divToPrint = document.getElementById("print_runsheet_" + id);
                newWin = window.open("");
                newWin.document.write(divToPrint.outerHTML);
                newWin.print();
                newWin.close();
                window.location.reload();
            }
        }

    </script>
{% endblock %}
