{% extends 'base.html.twig' %}

{% block body %}
    <h2> <p class="text-center text-success font-weight-bold text-decoration-underline">Livreur : {{ runsheet.delivery.fullName }} </p></h2>

    <form action="{{ path('app_runsheet_validate_step1', {'id': runsheet.id}) }}" method="POST">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="delivery_response" class="required">Motif de retour</label>
                    <select id="delivery_response" name="deliveryResponse" required="required" class="form-control">
                        <option value="" selected="selected"></option>
                        {% for delivery_response in delivery_responses %}
                            <option value="{{ delivery_response.name }}">{{ delivery_response.value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="endKm" class="required">KM d'arrivé</label>
                    <input type="number" id="runsheet_endKm" name="endKm" class="form-control">
                    <div class="text-danger">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <label  class="form-label">Liste des codes à barres</label>
                <textarea oninput="
                          $(this).val(function(_, val) {
                          const lines = val
                          .replace(/[^\d\r\n]/g, '')
                          .split(/\r?\n/)
                          .map(line => line.slice(0, 12));
                          const unique = [...new Set(lines)];
                          return unique.join('\n');
                          });
                          "
                          class="form-control" id="barCodes" name="barCodes" rows="5"></textarea>
            </div>
        </div>
        <input type="hidden" name="token" value="{{ token }}">
        <br>
        <div class="row">
            <div class="col-md-2">
                <button type="submit" name="retour" value="retour" class="btn btn-info">
                    <i class="fa fa-home"></i>
                    Retour dépôt
                </button>
            </div>
            <div class="col-md-2"><button type="submit" name="verifier" value="verifier" class="btn btn-warning">
                    <i class="fa fa-question"></i>
                    A vérifier
                </button>
            </div>
            <div class="col-md-2"><button type="submit" name="refus" value="refus" class="btn btn-danger">
                    <i class="fa fa-arrow-left"></i>
                    Retour Définitif
                </button>
            </div>
        </div>
        <br>
    </form>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>
                <a href="{{ path('app_runsheet_validate_step2', {'id': runsheet.id}) }}" style="color:inherit"> C'est Terminé ! Je valide mon runsheet </a>
            </button>
        </div>
    </div>
{% endblock %}
