{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.user) }}
            {{ form_widget(form.user) }}
            <div class="text-danger">{{ form_errors(form.user) }}</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <div class="text-danger">{{ form_errors(form.name) }}</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            {{ form_label(form.level) }}
            {{ form_widget(form.level) }}
            <div class="text-danger">{{ form_errors(form.level) }}</div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <button class="btn btn-info">{{ button_label|default('Valider') }}</button>
</div>
{{ form_end(form) }}