{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}

{% block body %}
<a class="btn btn-primary" href="{{ path('app_skill_new') }}">Ajouter compétence</a>
<table id="example2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Collaborateur</th>
            <th>Nom</th>
            <th>Niveau</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for skill in skills %}
            <tr>
                <td>{{ skill.user.fullName }}</td>
                <td>{{ skill.name }}</td>
                <td>{{ skill.level }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('app_skill_show', {'id': skill.id}) }}"><i class="fas fa-eye"></i></a>
                    <a class="btn btn-info btn-sm" href="{{ path('app_skill_edit', {'id': skill.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                    <div class="btn btn-sm">{{ include('consultant/skill/_delete_form.html.twig') }}</div>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="5">Aucune compétence trouvée.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('assets/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script>
        $(function () {
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
{% endblock %}