<!-- Generate pagination block if there is at least more than 1 page! -->
{% if pageCount > 1 %}
    <!-- Pagination -->
    {# Page quantity to show around current page is 2 or a calculated minimum value #}
    {% set defaultPageQuantityAround = 2 %}
    {# Mininum value #}
    {% set minimumPageQuantityAround = min(currentPage - 1, pageCount - currentPage) %}
    {# Condition to show the right page numbers before current page: default or minimum value #}
    {% set conditionBefore = currentPage != 1 and minimumPageQuantityAround <= currentPage - 1 %}
    {# Condition to show the right page numbers after current page: default or minimum value #}
    {% set conditionAfter = currentPage != pageCount and minimumPageQuantityAround <= pageCount - currentPage %}
    {# Define page numbers before, other pages will be replaced by "..." #}
    {% set PageQuantityAroundBefore = conditionBefore ? defaultPageQuantityAround : minimumPageQuantityAround %}
    {# Define page numbers after, other pages will be replaced by "..." #}
    {% set PageQuantityAroundAfter = conditionAfter ? defaultPageQuantityAround : minimumPageQuantityAround %}
    {# <div class="uk-flex uk-flex-center pagination">#}
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">

                <i class=" btn btn-info btn-sm fas fa-eye">
                </i>
                <span>Total des résultats : {{ postCount }} </span>
            </div>
        </div>
        <div class="col-sm-12 col-md-7 text-right">
            <div class="dataTables_paginate paging_simple_numbers text-right" id="example2_paginate">
                <ul class="pagination text-right">
                    {# Previous link #}
                    {% if currentPage - 1 != 0 %}
                        <li class="paginate_button page-item ">
                            <a onclick="searchAjax({{currentPage}}-1)" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link" href="#" title="Previous">
                                <span class="uk-margin-small-right" uk-pagination-previous></span>
                                Précédent
                            </a>
                        </li>
                    {% endif %}
                    {% for i in 1..pageCount %}
                        {# Current page to show #}
                        {% if currentPage == i %}

                            <li class="paginate_button page-item active">
                                <a href="#" aria-controls="example2" data-dt-idx="{{ i }}" tabindex="0" class="page-link">
                                    {{ i }}
                                </a>
                            </li>
                            {# Show "..." before current page depending on page numbers to show before #}
                        {% elseif (i < currentPage and 1 != i) and (i == currentPage - PageQuantityAroundBefore - 1) %}
                            <li class="paginate_button page-item ">...</li>
                                {# Show "..." after current page depending on page numbers to show after #}
                            {% elseif (i > currentPage and pageCount != i) and (i == currentPage + PageQuantityAroundAfter + 1) %}
                            <li class="paginate_button page-item ">...</li>
                                {# Hide pages under current page and before "..." excepted page 1 #}
                            {% elseif (1 != i) and (i < currentPage - PageQuantityAroundBefore - 1) %}
                            <li class="paginate_button page-item ">
                                <a onclick="searchAjax({{i}})" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link" href="#" title="Page {{ i }}">{{ i }}</a></li>
                                {# Hide pages over current page and after "..." excepted page with number "pageCount" (last) #}
                            {% elseif (pageCount != i) and (i > currentPage + PageQuantityAroundAfter + 1) %}
                            <li class="paginate_button page-item ">
                                <a onclick="searchAjax({{i}})" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link" href="#" title="Page {{ i }}">{{ i }}</a></li>
                                {# Apply particular style for lowest link corresponding to fisrt page 1, and Highest link corresponding to page total count #}
                            {% elseif i == 1 or i == pageCount %}
                            <li class="paginate_button page-item ">
                                <a  onclick="searchAjax({{i}})" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link" href="#" title="Page {{ i }}">{{ i }}</a></li>
                                {# Normal links which are not concerned by conditions above #}
                            {% else %}
                            <li class="paginate_button page-item ">
                                <a onclick="searchAjax({{i}})" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link" href="#" title="Page {{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {# Next link #}
                        {% if currentPage + 1 <= pageCount %}
                        <li class="paginate_button page-item ">
                            <a onclick="searchAjax({{currentPage}}+1)" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link" href="#" title="Next">
                                Suivant 
                                <span class="uk-margin-small-left" uk-pagination-next></span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}

