
<h1>PickUp</h1>
<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ pick_up.id }}</td>
        </tr>
        <tr>
            <th>FullName</th>
            <td>{{ pick_up.fullName }}</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>{{ pick_up.adresse }}</td>
        </tr>
        <tr>
            <th>Tel</th>
            <td>{{ pick_up.tel }}</td>
        </tr>
        <tr>
            <th>Tel2</th>
            <td>{{ pick_up.tel2 }}</td>
        </tr>
        <tr>
            <th>Designation</th>
            <td>{{ pick_up.designation }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ pick_up.price }}</td>
        </tr>
        <tr>
            <th>NumberItem</th>
            <td>{{ pick_up.numberItem }}</td>
        </tr>
        <tr>
            <th>NumberPack</th>
            <td>{{ pick_up.numberPack }}</td>
        </tr>
        <tr>
            <th>PaymentMethod</th>
            <td>{{ pick_up.paymentMethod }}</td>
        </tr>
        <tr>
            <th>OpenPack</th>
            <td>{{ pick_up.openPack ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Exchange</th>
            <td>{{ pick_up.exchange ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Notice</th>
            <td>{{ pick_up.notice }}</td>
        </tr>
        <tr>
            <th>BarCode</th>
            <td>{{ pick_up.barCode }}</td>
        </tr>
    </tbody>
</table>
